/* Base styles (regardless of theme) */
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
    background-color: #eee;
    color:#333;
}

.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

/* Themes for different contexts */

.bs-callout-info {
    border-left-color: #337ab7;
}
.bs-callout-info h4 {
    color: #337ab7;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

.bs-content {
  margin-right: 0;
  margin-left: 0;
  padding: 45px 15px 15px;
}