<template name="home">
    <div class="container theme-showcase" role="main">
        <h1>L'alcool C'est De L'eau</h1>
        <br/><br/>

        <button type="button" style="" class="btn btn-default btn-lg btn-block create" data-mode="solo"><i class="fa fa-caret-right pull-right" style="margin-top:3px;" aria-hidden="true"></i>Solo</button>
        <button type="button" style="" class="btn btn-default btn-lg btn-block create" data-mode="team"><i class="fa fa-caret-right pull-right" style="margin-top:3px;" aria-hidden="true"></i>Équipe</button>

        <div class="jumbotron" style="margin-top:30%;">
            <div class="container" style="color:#333;">
                <div class="col-xs-4">
                    <i class="fa fa-hand-peace-o" aria-hidden="true" style="font-size:4em;"></i>
                </div>
                <div class="col-xs-8">
                    Créez vos propres règles et modes !<br>
                    <span style="font-weight:bold;">lalcoolcestdeleau.fr</span>
                </div>
            </div>
        </div>

    </div>
</template>